<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul class="list-inline text-center">
            <li><a href="https://github.com/ASentry" target="_blank"><img src="/image/github.png"></a></li>
            <li><a href="mailto:ljp95453371@outlook.com"><img src="/image/outlook.png"></a></li>
          </ul>
        </div>
        <p class="text-center">Copyright &copy; ASentry 2016</p>
      </div>
    </div>
  </div>
</footer>
